Hostname: {{ hostname }}
Generation Date: {{ date }}

Storage States:
{{ storage_states }}

Available Updates:
{{ available_updates }}

AV Version and Last Update Time:
{{ av_info }}

Falcon Sensor Information:
{{ falcon_info }}
