----------------------------------------
Hostname: {{ hostname }}
Date: {{ date }}

Storage States:
{{ storage_states }}

Available Updates:
{{ available_updates }}

AV Information:
{{ av_info }}
----------------------------------------
